.listGallery {
  list-style-type: none;
  padding-left: 0;
  background-color: rgb(69, 69, 69);
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.containerGallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: center;
}

img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.text {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listGallery:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  cursor: pointer;
}
.textName {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
